[data-theme='linked'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(84.3% 0.08 292.01deg);
	--color-primary-100: oklch(77.28% 0.1 286.77deg);
	--color-primary-200: oklch(70.17% 0.12 282.72deg);
	--color-primary-300: oklch(62.98% 0.15 279.95deg);
	--color-primary-400: oklch(55.92% 0.17 276.37deg);
	--color-primary-500: oklch(49.16% 0.19 272.59deg);
	--color-primary-600: oklch(43.47% 0.18 272.34deg);
	--color-primary-700: oklch(37.85% 0.17 271.65deg);
	--color-primary-800: oklch(32.08% 0.16 270.62deg);
	--color-primary-900: oklch(26.37% 0.15 268.78deg);
	--color-primary-950: oklch(20.15% 0.14 264.05deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(95.79% 0.06 196.12deg);
	--color-secondary-100: oklch(90.5% 0.08 207.88deg);
	--color-secondary-200: oklch(85.38% 0.11 214.53deg);
	--color-secondary-300: oklch(80.44% 0.13 221.36deg);
	--color-secondary-400: oklch(76.06% 0.14 226.66deg);
	--color-secondary-500: oklch(72.16% 0.15 233.24deg);
	--color-secondary-600: oklch(65.48% 0.14 235.78deg);
	--color-secondary-700: oklch(58.94% 0.13 238.61deg);
	--color-secondary-800: oklch(51.92% 0.12 242.15deg);
	--color-secondary-900: oklch(44.99% 0.12 246.1deg);
	--color-secondary-950: oklch(37.51% 0.11 250.96deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(79.71% 0.06 260.23deg);
	--color-tertiary-100: oklch(72.38% 0.06 259.62deg);
	--color-tertiary-200: oklch(64.86% 0.06 258.99deg);
	--color-tertiary-300: oklch(57.07% 0.06 257.38deg);
	--color-tertiary-400: oklch(49.09% 0.06 256.72deg);
	--color-tertiary-500: oklch(40.82% 0.06 256.1deg);
	--color-tertiary-600: oklch(35.25% 0.05 256.72deg);
	--color-tertiary-700: oklch(29.38% 0.04 256.22deg);
	--color-tertiary-800: oklch(23.28% 0.03 257.52deg);
	--color-tertiary-900: oklch(16.67% 0.02 256.85deg);
	--color-tertiary-950: oklch(3.04% 0.02 264.05deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(96.57% 0.06 147.39deg);
	--color-success-100: oklch(92.13% 0.08 147.89deg);
	--color-success-200: oklch(87.6% 0.11 147.17deg);
	--color-success-300: oklch(83.36% 0.13 147.03deg);
	--color-success-400: oklch(79.06% 0.16 146.26deg);
	--color-success-500: oklch(75.14% 0.18 145.77deg);
	--color-success-600: oklch(68.11% 0.17 145.12deg);
	--color-success-700: oklch(60.94% 0.16 144.43deg);
	--color-success-800: oklch(53.57% 0.16 143.82deg);
	--color-success-900: oklch(46.06% 0.14 143.1deg);
	--color-success-950: oklch(38.32% 0.13 142.5deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(98.53% 0.08 107.75deg);
	--color-warning-100: oklch(96.05% 0.1 101.79deg);
	--color-warning-200: oklch(93.85% 0.12 98.18deg);
	--color-warning-300: oklch(91.52% 0.13 94.83deg);
	--color-warning-400: oklch(89.48% 0.15 92.28deg);
	--color-warning-500: oklch(87.32% 0.16 89.22deg);
	--color-warning-600: oklch(80.04% 0.15 89.18deg);
	--color-warning-700: oklch(72.6% 0.14 89.08deg);
	--color-warning-800: oklch(64.87% 0.13 87.59deg);
	--color-warning-900: oklch(57.01% 0.11 86.99deg);
	--color-warning-950: oklch(48.87% 0.1 86.17deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(85.64% 0.08 36.06deg);
	--color-error-100: oklch(80% 0.11 30.37deg);
	--color-error-200: oklch(74.52% 0.13 26.89deg);
	--color-error-300: oklch(69.34% 0.16 25.24deg);
	--color-error-400: oklch(64.71% 0.18 24.88deg);
	--color-error-500: oklch(60.9% 0.21 25.79deg);
	--color-error-600: oklch(55.02% 0.19 26.16deg);
	--color-error-700: oklch(48.84% 0.17 26.59deg);
	--color-error-800: oklch(42.77% 0.16 27.05deg);
	--color-error-900: oklch(36.27% 0.14 27.75deg);
	--color-error-950: oklch(29.59% 0.12 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(90.18% 0.04 257.39deg);
	--color-surface-100: oklch(81.82% 0.04 256.35deg);
	--color-surface-200: oklch(73.04% 0.04 257.86deg);
	--color-surface-300: oklch(64.16% 0.03 255.64deg);
	--color-surface-400: oklch(54.78% 0.04 257.27deg);
	--color-surface-500: oklch(45.23% 0.04 256.11deg);
	--color-surface-600: oklch(39.76% 0.03 255.7deg);
	--color-surface-700: oklch(34.09% 0.03 255.11deg);
	--color-surface-800: oklch(27.96% 0.02 261.13deg);
	--color-surface-900: oklch(21.7% 0.02 262.08deg);
	--color-surface-950: oklch(14.92% 0.01 263.23deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
