# Should be generated with: python -c "from secrets import token_urlsafe; print(token_urlsafe(32))"
CSRF_SECRET=
ESI_USER_AGENT="LinkedEVE/0.0.1 (you@example.com)"
# Should be generated with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
TOKEN_ENCRYPTION_KEY=

# EVE SSO (required)
EVE_CLIENT_ID=
EVE_CLIENT_SECRET=
# This is relative to your API's base URL - `/auth/callback`
EVE_CALLBACK_URL=https://linked.example.com/api/auth/callback
# EVE_SCOPES=["publicData"]

# Database
DB_HOST=localhost
# DB_PORT=5432
DB_USER=linked
DB_PASSWORD=
DB_NAME=linked
# DB_POOL_MIN_SIZE=5
# DB_POOL_MAX_SIZE=20
# DB_SSL=false

# Valkey
VALKEY_HOST=localhost
# VALKEY_PORT=6379
# VALKEY_SESSION_DB=0
# VALKEY_EVENT_DB=1
VALKEY_USER=default
VALKEY_PASSWORD=
# SESSION_MAX_AGE=604800

# Optional
# DEBUG=false

# CORS is optional if you're using the same URI for both web + API. Otherwise, you need to configure it
# CORS_ALLOW_ORIGINS=["https://linked.example.com"]
# CORS_ALLOW_METHODS=["GET", "POST", "PUT", "DELETE", "PATCH", "OPTIONS"]
# CORS_ALLOW_HEADERS=["x-csrftoken", "Content-Type"]
# CORS_ALLOW_CREDENTIALS=true

# Compression
# COMPRESSION_MINIMUM_SIZE=500
# COMPRESSION_BROTLI_QUALITY=5

# ESI
# ESI_TIMEOUT=30.0

# Frontend
# FRONTEND_URL=http://linked.example.com

# Image cache
# IMAGE_CACHE_DIR=./cache/images
# IMAGE_CACHE_TTL_SECONDS=259200
